* {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

:root {
    --box-bg-color: #dcdcdc;
    --buttons-bg-color: #7a7a7a;
    --text-color1: #ffffff;
    --button-focus-color: #e0ad63;
}



/*-----------------------------Desktop-----------------------------------------------------------------*/

/*--------home page grid-------------------------------*/

.wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer";
}

/*--------header home desktop---------*/

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto max-content;
    background-image: url(../images/large/hisu-lee-86681-unsplash_5096x1931.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}



a:hover {
    opacity: 1;
}


.logo {
    grid-column: 1/4;
    grid-row: 2/3;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 500px;
    opacity: 0.9;
    justify-self: center;
    padding: 2%;
}

.logo:hover {
    opacity: 1;
}

/*-----------------------main grid--------*/

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px 200px auto auto;
    padding: 0% 5% 5% 5%;
}

.leaves1 {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
}

h1 {
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: 'Amatic SC', cursive;
    font-size: 65px;
    align-self: center;
    text-align: center;
}

.leaves2 {
    grid-column: 4/6;
    grid-row: 2/3;
    align-self: center;

}

.filters {
    grid-column: 1/6;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-gap: 2px;
}



.filters .button-filter {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: var(--text-color1);
    background-color: var(--buttons-bg-color);
    border-radius: 40px;
    box-shadow: 2px 2px 5px #C0C0C0;

}

.filters .button-filter:focus {
    background-color: var(--button-focus-color);

}



button:hover {
    opacity: 0.7;
}

.filters .open-filters {
    grid-column: 1/4;
    grid-row: 1/3;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px #C0C0C0;
    border-radius: 40px;
    text-decoration: none;
}

.filters .open-filters:focus {
    background-color: var(--button-focus-color);

}

nav {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    box-shadow: 2px 2px 5px #606060;
    background-color: var(--buttons-bg-color);
    padding: 10px;
    border-radius: 40px;
    margin-top: -30px;
}

nav a {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: var(--text-color1);
}

nav a:hover {
    color: black;
}

nav a:focus {
    color: var(--button-focus-color);

}

nav a:focus {
    color: var(--button-focus-color);

}


section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 35%));
    grid-gap: 5em;
    justify-content: center;
    margin-top: 80px;
}

section h2 {
    grid-column: 1/-1;
    grid-row: 1/2;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    background-image: url(../images/large/leaves-categories-04.svg);
    background-position: center;

}



.menugrid {
    grid-column: 1/-1;
    grid-row: 4/5;
    justify-content: center;

}



/*-------------courses--------------*/

.dishes {
    background-color: var(--box-bg-color);
    box-shadow: 3px 3px 10px #888888;
    border-radius: 0px 0px 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hide {
    display: none;
}


.img-dishes {
    padding: 3%;
    grid-row: 1/2;
    grid-column: 1/3;
}

.img-soldout {
    opacity: 0.3;
}

.soldout {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 100;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align-last: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10%;

}


.dishes h3 {
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    padding-bottom: 1%;
}

.vegetarian {
    grid-column: 2/3;
    grid-row: 2/5;
    background-image: url(../images/large/vegetarian-mark.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 90%;

}

.discount {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 100;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: white;
    font-weight: 500;
    text-align: center;
    background-color: rgba(226, 73, 73);
    background-repeat: no-repeat;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 2px;
    height: 40px;
    width: 130px;
    margin: 20px 20px;

}

p {
    grid-column: 1/3;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    padding-bottom: 3%;
}


.price {
    grid-column: 1/3;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.dishes button {
    grid-column: 1/3;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color1);
    border: solid 1px #7a7a7a;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    background-color: var(--buttons-bg-color);
    border-radius: 40px;
    margin: 0px 0px 20px 0px;
    box-shadow: 2px 2px 5px #888888;
    height: 50px;
    width: 250px;
    justify-self: center;
}

.bold {
    font-weight: bolder;
}


/*--------modal desktop---------*/

li {
    list-style-type: none;
}

#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, .9);
    z-index: 200;
}

#modal-content {
    background-color: var(--box-bg-color);
    width: 90vw;
    margin: 5vw;
    padding: 1em;
    z-index: 200;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 3px 3px 8px #888888;
}

.img-details {
    grid-column: 1/2;
    grid-row: 1/6;
    align-self: center;
}

#modal-content h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    align-self: flex-end;
}

#modal-content .stars {
    grid-column: 1/3;
    max-width: 50%;
    justify-self: center;
    padding-bottom: 2%;
}

#modal-content h3 {
    grid-column: 2/3;
    grid-row: 3/4;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    text-align: center;
    font-weight: 100;
    align-self: center;
    padding-bottom: 2%;
}


#modal-content .long-des {
    grid-column: 2/3;
    grid-row: 4/5;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: justify;
    font-weight: 100;
    padding: 0em 2em;
    line-height: 1.5;
}

#modal-content div.stars {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 35%;


}

#modal-content ul {
    grid-column: 2/3;
    grid-row: 5/6;
    padding-top: 2%;
}

#modal-content ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: justify;
    font-weight: 600;
    line-height: 1.8;
}

#modal-content ul li.price-modal {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-align: right;
    padding-right: 2em;
}

#modal-content .vegetarian-modal {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 10%;
    margin-left: 1em;
}

#modal-content .soldout-modal {
    grid-column: 1/2;
    grid-row: 1/8;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align-last: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20%;

}

#modal-content .discount-modal {
    grid-column: 1/2;
    grid-row: 5/6;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: white;
    font-weight: 500;
    text-align: center;
    background-color: rgba(226, 73, 73);
    background-repeat: no-repeat;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 2px;
    height: 40px;
    width: 130px;
    margin: 20px 20px;
}

/*-----------------------footer grid--------*/

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #563E2F;
}

footer h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    color: var(--text-color1);
}

.p-footer {
    padding-bottom: 1%;
    color: white;
}



/*---------------------------mobile--------------------------------*/

@media all and (max-width:750px) {

    /*------------------header-------------------------*/
    .logo {
        grid-column: 1/4;
        grid-row: 2/3;
        margin-top: 30%;
        margin-bottom: 5%;
        max-width: 500px;
        opacity: 0.9;
        justify-self: center;
        padding: 2%;
    }

    /*--------------------main-----------------------*/
    .filters .button-filter {
        font-size: 14px;
    }

    .filters .open-filters {
        font-size: 25px;
    }


    h1 {
        grid-column: 3/4;
        grid-row: 1/2;
        font-family: 'Amatic SC', cursive;
        font-size: 50px;
        align-self: center;
        text-align: center;
    }


    section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5em;
        justify-content: center;

    }

    section h2 {
        font-size: 30px;
        background-repeat: no-repeat;
    }

    .img-dishes {
        padding: 3%;
        grid-row: 1/2;
        grid-column: 1/3;
    }



    .dishes h3 {
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
        text-align: center;
        padding-bottom: 1%;
    }

    .dishes p {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        text-align: center;
        padding-bottom: 3%;
    }

    .price {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: bolder;
    }

    .vegetarian {
        background-size: 20px;

    }

    .discount {
        font-size: 20px;
        height: 35px;
        width: 110px;
    }


    .dishes button {
        font-size: 14px;
        height: 40px;
        width: 200px;
    }


    /*-------------------footer grid-----------*/
    footer h3 {
        font-family: 'Amatic SC', cursive;
        font-size: 20px;
        text-align: center;
        padding-bottom: 3%;
        padding-top: 3%;
        color: white;
    }

    .p-footer {
        padding-bottom: 3%;
        font-size: 10px;
        color: white;
    }
}
